# https://github.com/terraform-google-modules/terraform-google-startup-scripts#configuration-of-startup-script
REGISTRY='${registry}'
IMAGE='${image}'
SOFT_SERVE_INITIAL_ADMIN_KEYS='${soft_serve_initial_admin_keys}'
SOFT_SERVE_GCS_BACKUP_BUCKET='${soft_serve_gcs_backup_bucket}'
